body{
    height:100%;
    background-image: linear-gradient(to right,#ae00ff, skyblue );
}
.log-form
{
    /* background:white; */
    
    /* top:02rem; */
    /* left:14rem; */
    text-align: center;
    width:50%!important;
    /* height:60%;*/
    background-color:white;
    margin-left:25%!important;
    margin-top:5%!important;
    border-radius: 5%;

    
}

h1{
    /* text-align: center; */
    font-family: 'EB Garamond', serif;
    padding:5%;
    text-decoration-line: underline;
    /* color: white; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.emailinput
{
    
    /* border-bottom-color: black!important; */
    /* text-decoration: underline; */
    /* border-bottom-width: 20%!important; */
    border:none;
    /* text-align: center; */
    /* text-decoration: underline; */
    
    border-bottom:2px solid black;
    border-width: 60%;
    width: 80%;
}
label{
   padding:5%;
}
.passwordinput
{
    border-bottom:2px solid black;
 
   
    border-top:none;
    border-right:none;
    border-left:none;
 width: 80%;

    /* text-align: center; */
    /* text-decoration: underline; */
    
}
p.roundest
{
    background-image:linear-gradient(to right,#ae00ff, skyblue );
    /* border-left: 2px solid black; */
    border: 7px solid none!important;
    border-radius: 12px!important;
    width:80%;
   text-align: center;
   margin-left:10%!important;
   font-family: 'EB Garamond', serif;
  
   }
